@import './base.css';

.centered {
  align-items: center;
  align-content: center;
  text-align: center;
}

flex-item.big {
  outline: 3px solid #333;
  max-width: 900px;
  margin-left: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

img.inverted {
  transform: scaleX(-1);

}

img.smol {
  height: 60px;
  width: 60px;
  vertical-align:middle;
}


p.bigggy {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
}

div.text {
  text-align: left;
}

img.normal {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media all and (max-width: 768px) {
  .header {
      position: relative;
  }
  .flex-item.big {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }
  p.bigggy {
    font-size: 16px;
  }
  img.smol {
    height: 30px;
    width: 30px;
    vertical-align:middle;
  }
}